.login-body {
  height: 82vh;
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), asset-url('banner-bg.jpg');
  background-size: cover;
  background-position: bottom;
}

h2 {
  text-align: center;
  color: white;
  margin: 10px 0;
}


.login {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: white;
  padding: 20px 15px;
}

.form-inputs {
  width: 300px;
}

.key {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50px * 2;
  height: 50px;
  border-top-left-radius: 50px * 2;
  border-top-right-radius: 50px * 2;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  .fas {
    margin-top: 20px;
    transform: rotate(-45deg);
  }
}

.login-btn {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 5px;
  &:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
  }
}

.devise-shared-link {
  a {
    color: white;
    font-size: 12px;
  }
}


