.login-body {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), asset-url('banner-bg.jpg');
  background-size: cover;
  background-position: bottom;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

.login {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  padding: 4px 45px;
}

.login-form-inputs {
  width: 500px;
}

.key-login {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px * 2;
  height: 50px;
  border-top-left-radius: 50px * 2;
  border-top-right-radius: 50px * 2;
  margin-top: -54px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 26px;
  .fas {
    margin-top: 20px;
    transform: rotate(-45deg);
  }
}

.login-btn {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 5px;
  &:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
  }
}

.devise-shared-link {
  a {
    color: white;
    font-size: 12px;
  }
}

.login-btn-su {
  position: absolute;
  right: 8px;
  bottom: 16px;
}

.new-scooter {
  margin-top: 5rem;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.forgot-password {
  margin-top: 5rem;
  min-height: 92vh;
}
