.name-card {
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.desc-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.booking-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.review-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.show-list {
  margin-top: 5rem;
}

#user {
  min-height: 100vh;
}

#my-title {
  margin-top: 5rem;
}

.user-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.user-profile {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.user-socials {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.user-content {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.user-socials .list-inline > .socials > a {
  font-size: 32px;
  color: #e28646;
  &:hover {
    color: #F9A468;
  }
}

.review-add {
  padding-right: 0 !important;
}

.delete {
  position: absolute;
  right: 8px;
  bottom: 24px;
}

.back {
  position: absolute;
  left: 12px;
  bottom: 0px;
}

.details {
  min-height: 100vh;
}
