.name-card {
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
  position: relative;
}

.desc-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.booking-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.review-card {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.show-list {
  margin-top: 5rem;
  min-height: 100vh;
}

#user {
  min-height: 100vh;
}

#my-title {
  margin-top: 3.5rem;
  margin-bottom: 0;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9A468;
  height: 150px;
  h1 {
    color: white;
  }
}

.user-avatar {
  margin-top: -120px;
  margin-bottom: 20px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.user-acc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-content {
  width: 65%;
}

.user-socials {
  margin-top: 20px;
  border-bottom: 1px solid #C4C4C4;
  color: rgba(0, 0, 0, 0.7);
}

.user-btn {
  display: inline-block;
  color: #FFB27C;
  border: 1px solid #FFB27C;
  padding: 10px 15px;
  border-radius: 4px;
  &:hover {
    color: white;
    background-color: #FFB27C;
    transition: 0.3s;
    text-decoration: none;
  }
}

.user-socials .list-inline > .socials > a {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.review-add {
  padding-right: 0 !important;
}

#back {
  display: inline-block;
  position: sticky;
  top: 60px;
  left: 10px;
}

.details {
  min-height: 100vh;
}

.destroy-scoot {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
}

.scoot-deets {
  overflow: hidden;
}

.scoot-details {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .user-profile {
    display: flex;
    flex-wrap: wrap;
  }

  .user-card {
    display: grid;
    margin-top: 80px;
    grid-template-rows: 100px 50px;
    width: 90vw;
    height: 300px;
  }

  .acc-settings {
    display: flex;
    justify-content: space-between;
  }

  .user-avatar > img {
    width: 80px;
    height: 80px;
  }

  .name-card {
    img {
      width: 350px;
    }
  }

  .user-content {
    width: 90vw;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.user-link {
  &:hover {
    text-decoration: none;
  }
}
