<% if @booking.review.present? %>
  <% flash[:notice] = "You've already left a review" %>
  <%= link_to "Go back", bookings_path, class: 'btn btn-primary' %>
<% else %>
  <div class="container rev-form">
    <%= render 'reviews/form' %>
  </div>
<% end %>
