<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <i class="fas fa-motorcycle">&nbsp;</i>rentscootscoot
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">MY BOOKINGS</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="#">BECOME A HOST</a>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag @user.avatar, width: 36, height: 36, crop: :fit, g: :face, class: 'avatar dropdown-toggle', id: 'navbarDropdown', aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown } %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">View profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-5">
          <%= link_to "LOG IN", new_user_session_path, class: 'btn log-in'  %>
        </li>
        <li class="nav-item active">
          <%= link_to "SIGN UP", new_user_registration_path, class: 'btn sign-up' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
