<div class="banner" style="background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url(<%= image_path('banner-bg') %>)">
  <div class="container">
    <h1>rentscootscoot</h1>
    <%= form_tag("/scooters", method: 'get') do %>
      <%= text_field_tag :search, nil, placeholder: "Search...", class: "form-control string required search-bar" %>
    <% end %>
  </div>
</div>
