<div class="container">
 <div class="list">
   <h2>Scooter List</h2>
   <%= link_to 'Add a Scooter', new_scooter_path, class: 'list-btn' %>
 </div>
 <div class="row">
<!--    <%# @cocktails.each do |cocktail| %>
     <div class="col-md-4">
       <div class="card">
         <div class="card-img" style="background-image: url(<%#= cocktail.photo %>);">
         </div>
         <div class="card-body">
           <h5><%#= cocktail.name %></h5>
           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
           <div class="card-btn">
             <a><%#= link_to 'More', cocktail_path(cocktail) %></a>
           </div>
         </div>
       </div>
     </div>
   <%# end %> -->
 </div>
</div>
