.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sign-up {
  padding: 6px 40px;
  border-radius: 5px;
  color: white;
  background-color: #F9A468;
  font-weight: bold;
  font-size: 20px;
  &:hover {
    color: white;
    background-color: #e28646;
  }
}

.log-in {
  color: #F9A468;
  font-weight: bold;
  font-size: 20px;
  &:hover {
    color: #e28646;
  }
}

.dropdown {
  cursor: pointer;
}

.dropdown-item {
  opacity: .7;
}

.nav-link {
  font-size: 18px;
  color: #F9A468 !important;
  &:hover {
    color: #E28646 !important;
  }
}
